<h1 class="text-3xl">Contactos de la aplicación</h1>

<div>
    <p class="text-green-700 mt-5">Quis eiusmod officia eu ex proident. Sunt tempor commodo laborum non qui id qui tempor deserunt laborum. Est consectetur deserunt non in est enim cupidatat reprehenderit id cupidatat. Occaecat tempor veniam commodo est sit excepteur mollit amet et pariatur esse laborum do deserunt. Proident dolor in do pariatur est. Irure anim sit id magna. Irure qui cupidatat excepteur mollit consequat minim do nisi aute ipsum do excepteur do duis.</p>
</div>