<nav 
class="text-white 
        top-0 absolute z-50 w-full
        flex justify-end gap-5
        px-2 py-3 bg-slate-900 shadow-md
        ">

<!-- <a class="hover:underline cursor:pointer" 
        routerLinkActive="text-blue-500 underline" 
        routerLink="/products">Productos</a>
 -->

<a class="hover:underline cursor:pointer" 
        routerLinkActive="text-blue-500 underline" 
        routerLink="/about">About</a>
<a class="hover:underline cursor:pointer" 
        routerLinkActive="text-blue-500 underline" 
        routerLink="/pricing">Precios</a>
<a class="hover:underline cursor:pointer" 
        routerLinkActive="text-blue-500 underline" 
        routerLink="/contact">Contacto</a>


</nav>